"*":
  Hydrogen:
    languageMappings: "{\"Julia 0.4.0-dev+6561\": \"julia\"}"
  "atom-alignment": {}
  "atom-material-ui":
    accentColor: "Blue"
    compactTreeView: true
    depth: true
    disableAnimations: true
    panelContrast: true
    showTabIcons: "Show on all tabs"
    slimScrollbar: true
    tabSize: "Small"
    ui:
      accentColor: "Purple"
      disableAnimations: true
      slimScrollbar: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "graphviz-preview"
      "language-dot"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-go"
      "language-java"
      "language-less"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby"
      "language-ruby-on-rails"
      "metrics"
      "atom-ctags"
      "symbols-tree-view"
    ]
    excludeVcsIgnoredPaths: false
    themes: [
      "atom-material-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "3a4430a0-dcdf-970d-1482-fd60a717f75c"
  "gist-it":
    userToken: "7f9c1d254afe0671ab6233d6d81d8bc794dfff56"
  "julia-client": {}
  "keybinding-cheatsheet": {}
  "markdown-table-formatter": {}
  minimap: {}
  "one-dark-ui": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  wordcount: {}
".bibtex.text":
  editor:
    showInvisibles: false
".restructuredtext.text source.gfm.restructuredtext":
  editor:
    tabLength: 3
